# Data Science Academy - Python Fundamentos - Capítulo 1

## 1. Tipos de Dados - Operações Básicas

In [58]:
4 + 4   #soma

8

In [59]:
4 - 3   #subtração

1

In [60]:
2 * 2   #multiplicação

4

In [61]:
4 ** 2  #poetência

16

In [62]:
10 % 3  #módulo

1

In [8]:
11 % 4  #módulo

3

## Função Type

In [9]:
print(type(5))

<class 'int'>

In [10]:
print(type(5.0))

<class 'float'>

In [11]:
type(5.0)

float

In [12]:
a = 'Eu sou uma string'
print(type(a))

<class 'str'>

## Operações com números float

In [13]:
3.1 + 6.4

9.5

In [14]:
1 + 1.0

2.0

In [15]:
1 + 1

2

## Casting

In [16]:
float(9)

9.0

In [17]:
int(6.0)

6

In [18]:
int(6.5)

6

## Divisão int/float

In [19]:
4 // 2

2

In [20]:
4 / 2

2.0

In [21]:
4 // 3.0

1.0

In [22]:
4 / 3.0

1.3333333333333333

## True e False

In [23]:
print("Python" == "R")

False

In [24]:
print("Python" == "Python")

True

In [25]:
print(5 > 4)

True

In [26]:
print(4 > 5)

False

## 2. Variáveis e Operadores

In [28]:
var_teste = 1

In [29]:
var_teste

1

In [30]:
print(var_teste)

1

In [31]:
my_var

NameError: name 'my_var' is not defined

In [32]:
var_teste = 2

In [33]:
var_teste

2

In [34]:
type(var_teste)

int

In [35]:
var_teste = 9.5

In [36]:
type(var_teste)

float

In [37]:
x = 1

In [38]:
x

1

## Declaração Múltipla

In [39]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [40]:
pessoa1

'Maria'

In [41]:
pessoa2

'José'

In [42]:
pessoa3

'Tobias'

In [43]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [44]:
fruta1

'Laranja'

In [45]:
fruta2

'Laranja'

## Pode-se usar letras, números e underscore (não se pode começar com números)

In [46]:
x1 = 1

In [47]:
x1

1

In [48]:
1x = x

SyntaxError: invalid syntax (<ipython-input-48-69916db8a1e5>, line 1)

## Não se pode usar palavras reservadas como nome de variável

## False      
## class      
## finally    
## is         
## return
## None       
## continue   
## for        
## lambda     
## try
## True       
## def        
## from       
## nonlocal   
## while
## and        
## del        
## global     
## not        
## with
## as         
## elif       
## if         
## or         
## yield
## assert     
## else       
## import     
## pass
## break      
## except     
## in         
## raise

In [49]:
break = 1

SyntaxError: invalid syntax (<ipython-input-49-0a0e97cd82d8>, line 1)

## Variáveis atribuídas a outras variáveis e ordem dos operadores

In [50]:
largura = 2

In [51]:
altura = 4

In [52]:
area = largura * altura

In [53]:
area

8

In [54]:
perimetro = 2 * largura + 2 * altura

In [55]:
perimetro

12

In [56]:
perimetro = 2 * (largura + 2)  * altura

In [57]:
perimetro

32

## 3. Criando o primeiro programa em Python

In [64]:
print("Esta é uma aplicação em Python")

Esta é uma aplicação em Python

In [65]:
print("Esta é uma linha de texto bem longa que está " +
      "sendo dividida em múltiplas linhas para facilitar a leitura.")

Esta é uma linha de texto bem longa que está sendo dividida em múltiplas linhas para facilitar a leitura.

## 4. Operações com variáveis

In [66]:
idade1 = 25

In [67]:
idade2 = 35

In [68]:
idade1 + idade2

60

In [69]:
idade2 - idade1

10

In [70]:
idade2 * idade1

875

In [71]:
idade2 / idade1

1.4

In [72]:
idade2 % idade1

10

## Concatenação de variáveis

In [73]:
nome = "Luis"

In [74]:
sobrenome = "Suarez"

In [75]:
fullName = nome + " " + sobrenome

In [76]:
fullName

'Luis Suarez'

## String é um array. Index começa por 0

In [77]:
fullName[8]

'r'

In [78]:
fullName[0:5]

'Luis '

## 5. Placeholders

In [79]:
mensagem = "Olá %s, você está aprendendo Python!"
print(mensagem%("Marta"))

Olá Marta, você está aprendendo Python!

In [80]:
lista_nomes = ["Tiago", "Aline", "Jonas"]

In [81]:
for nome in lista_nomes:
	print(mensagem%(nome))

Olá Tiago, você está aprendendo Python!
Olá Aline, você está aprendendo Python!
Olá Jonas, você está aprendendo Python!

In [82]:
mensagem = "Olá %s %s, vocês estão convidadas a iniciar seus estudos em Data Science"
mensagem%("Aline e", "Tatiana")

'Olá Aline e Tatiana, vocês estão convidadas a iniciar seus estudos em Data Science'

In [83]:
mensagem = "Eu sou %s e minha idade é %d"
mensagem%("Bob", 15)

'Eu sou Bob e minha idade é 15'

## 6. Listas

In [84]:
listadomercado = ["ovos, cenouras, leite, maças"]
print(listadomercado)

['ovos, cenouras, leite, maças']

In [85]:
listadomercado2 = ["ovos", "cenouras", "leite", "maças"]
listadomercado2

['ovos', 'cenouras', 'leite', 'maças']

In [86]:
lista3 = [12, 100, "Universidade"]
print(lista3)

[12, 100, 'Universidade']

In [87]:
lista3 = [12, 100, "Universidade"]

In [88]:
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]
print(item1, item2, item3)

12 100 Universidade

## Atualizando um item da lista

In [89]:
listadomercado2[2]

'leite'

In [90]:
listadomercado2[2] = "chocolate"

In [91]:
listadomercado2

['ovos', 'cenouras', 'chocolate', 'maças']

## Deletando um item da lista

In [92]:
del listadomercado2[4]   # Out of index

IndexError: list assignment index out of range

In [93]:
del listadomercado2[3]

In [94]:
listadomercado2

['ovos', 'cenouras', 'chocolate']

## Listas de listas

In [95]:
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [96]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [97]:
a = listas[0]

In [98]:
a

[1, 2, 3]

In [99]:
b = a[0]

In [100]:
b

1

In [101]:
list1 = listas[1]

In [102]:
value_1_0 = list1[0]

In [103]:
value_1_2 = list1[2]

In [104]:
list2 = listas[2]

In [105]:
value_2_0 = list2[0]

In [106]:
value_2_2 = list2[2]

In [107]:
value_1_0

10

In [108]:
value_1_2

14

In [109]:
value_2_0

10.1

In [110]:
value_2_2

2.3

## Operações com listas

In [111]:
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [112]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [113]:
a = listas[0][0]

In [114]:
a

1

In [115]:
b = listas[1][2]

In [116]:
b

14

In [117]:
c = listas[0][2] + 10

In [118]:
c

13

In [119]:
d = 10

In [120]:
e = d * listas[2][0]

In [121]:
e

101.0

## Operador in

In [122]:
teste_lista = [10,60,-5,8]

In [123]:
print(10 in teste_lista)

True

## 7. Array

In [125]:
array1 = [34, 32, 56]

In [126]:
array1

[34, 32, 56]

In [127]:
array2 = [21, 90, 51]

In [128]:
array3 = array1 + array2

In [129]:
array3

[34, 32, 56, 21, 90, 51]

## Funções com array

In [130]:
len(array1)

3

In [131]:
len(array2)

3

In [132]:
max(array1)

56

In [133]:
min(array2)

21

In [134]:
numArray = [123, 0, 35, 43, -8]

In [136]:
max(numArray)

123

In [137]:
min(numArray)

-8

In [138]:
listadomercado2.append("carne")

In [139]:
listadomercado2

['ovos', 'cenouras', 'chocolate', 'carne']

In [140]:
listadomercado2.append("carne")

In [141]:
listadomercado2

['ovos', 'cenouras', 'chocolate', 'carne', 'carne']

In [142]:
listadomercado2.count("carne")

2

In [143]:
a = []

In [144]:
print(a)

[]

In [145]:
a.append(10)

In [146]:
a

[10]

In [147]:
b = [30]

In [148]:
print(b)

[30]

In [149]:
b.append(50)

In [150]:
b

[30, 50]

In [151]:
old_list = [1,2,5,10]

In [156]:
new_list = []

In [157]:
for item in old_list:
    new_list.append(item)

In [158]:
print(new_list)

[1, 2, 5, 10]

In [159]:
c = [20,30]

In [160]:
c.append(60)

In [161]:
c.append(70)

In [162]:
c

[20, 30, 60, 70]

## 8. Dicionários

In [165]:
estudantes = ["Pedro", 24, "Fernando", 22, "Tania", 26, "Cris", 25]   # Isso é uma lista

In [166]:
estudantes

['Pedro', 24, 'Fernando', 22, 'Tania', 26, 'Cris', 25]

In [167]:
estudantes = {"Pedro":24, "Fernando":22, "Tania":26, "Cris":25}

In [168]:
estudantes

{'Cris': 25, 'Fernando': 22, 'Pedro': 24, 'Tania': 26}

In [169]:
estudantes["Pedro"]

24

In [170]:
estudantes["Pedro"] = 23

In [171]:
estudantes

{'Cris': 25, 'Fernando': 22, 'Pedro': 23, 'Tania': 26}

In [172]:
estudantes["Tania"]

26

In [173]:
estudantes.clear()

In [174]:
estudantes

{}

In [175]:
del estudantes

In [176]:
estudantes

NameError: name 'estudantes' is not defined

In [177]:
estudantes = {"Pedro":24, "Fernando":22, "Tania":26, "Cris":25}

In [178]:
estudantes

{'Cris': 25, 'Fernando': 22, 'Pedro': 24, 'Tania': 26}

In [179]:
len(estudantes)

4

In [180]:
estudantes.keys()

dict_keys(['Cris', 'Pedro', 'Tania', 'Fernando'])

In [181]:
estudantes.values()

dict_values([25, 24, 26, 22])

In [182]:
estudantes2 = {"Maria":27, "Erika":28, "Nilton":26}

In [183]:
estudantes2

{'Erika': 28, 'Maria': 27, 'Nilton': 26}

In [184]:
estudantes.update(estudantes2)

In [185]:
estudantes

{'Cris': 25,
 'Erika': 28,
 'Fernando': 22,
 'Maria': 27,
 'Nilton': 26,
 'Pedro': 24,
 'Tania': 26}

In [186]:
dic1 = {}

In [189]:
dic1

{}

In [190]:
dic1["key_one"] = 2

In [191]:
print(dic1)

{'key_one': 2}

In [192]:
dic1[10] = 5

In [193]:
dic1

{10: 5, 'key_one': 2}

In [194]:
dic1[5.2] = "Olá"

In [195]:
dic1

{10: 5, 'key_one': 2, 5.2: 'Olá'}

In [196]:
print(dic1)

{10: 5, 'key_one': 2, 5.2: 'Olá'}

In [197]:
dic1["test"] = 5

In [198]:
dic1

{10: 5, 'key_one': 2, 5.2: 'Olá', 'test': 5}

In [199]:
dict1 = {}

In [201]:
dict1

{}

In [202]:
dict1["test"] = 10

In [203]:
dict1["key"] = "fly"

In [204]:
dict1

{'key': 'fly', 'test': 10}

In [205]:
print(dict1["test"])

10

In [206]:
print(dict1["key"])

fly

In [207]:
dict2 = {}

In [208]:
dict2["key1"] = "high"

In [209]:
dict2["key2"] = 10

In [210]:
dict2["key3"] = 5.6

In [211]:
dict2

{'key1': 'high', 'key2': 10, 'key3': 5.6}

In [212]:
a = dict2["key1"]

In [213]:
b = dict2["key2"]

In [214]:
c = dict2["key3"]

In [215]:
a, b, c

('high', 10, 5.6)

## Tuplas

In [216]:
tupla1 = ("Matemática", 23, "Gatos")

In [217]:
tupla1

('Matemática', 23, 'Gatos')

In [218]:
tupla1.append("Chocolate")   # Tuplas não suportam append()

AttributeError: 'tuple' object has no attribute 'append'

In [219]:
del tupla1["Gatos"]        # Tuplas não suportam delete de um item específico

TypeError: 'tuple' object does not support item deletion

In [220]:
tupla1 = ("Chocolate")

In [221]:
tupla1

'Chocolate'

In [222]:
tupla1 = ("Matemática", 23, "Gatos")

In [223]:
tupla1[0]

'Matemática'

In [224]:
del tupla1

In [225]:
tupla1

NameError: name 'tupla1' is not defined

## FIM